<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NomadBuddy00</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NomadBuddy00.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-sA+e2Yog+91IAjaQ6G6Eptu1ZJkOQ0lvU6VZGh7y64Q=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-o9N1j/Wyqz8D93rs3zQgSAQSnQ+dr1p5v4d9GF1pXjU=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Activity" asp-action="Index">NomadBuddy00</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.IsInRole("Nomad"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="NomadDashboard" asp-action="Index">🏠 Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Nomad" asp-action="EditProfile">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="TripPlan" asp-action="Index">Trips</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="VisaPolicy" asp-action="Index">Visas</a>
                            </li>
@*                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="TravelerQuiz" asp-action="Quiz">Personality Quiz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="NomadPreference" asp-action="Edit">🌍 Preferences</a>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="CityRecommendation" asp-action="Index">Discover Cities</a>
                            </li>
@*                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="FriendsProfile" asp-action="Create">Create Friends Profile</a>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Nomad" asp-action="Discover">Discover Nomads</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="NomadMatch" asp-action="MyMatches" asp-route-mode="Friends" class="btn btn-success">My Friends Matches</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="NomadMatch" asp-action="MyMatches" asp-route-mode="Networking" class="btn btn-primary">My Networking Matches</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="ActivityReservation" asp-action="MyReservations">My Reservations</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Activity" asp-action="Index">All Exp</a>
                        </li>

                        @if (User.IsInRole("Buddy") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Activity" asp-action="Create">Create</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/account/logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/account/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/account/register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - NomadBuddy00 - <a asp-area="" asp-controller="Activity" asp-action="Index">All exp</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
